<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404438435831-ik6rgh9201g5i4jcca7opdrnbr2lmmho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404438435831-ik6rgh9201g5i4jcca7opdrnbr2lmmho</string>
	<key>API_KEY</key>
	<string>AIzaSyBY2Lq5tqmvLQ5Wj-lV4vnY8RzpuH_TuOc</string>
	<key>GCM_SENDER_ID</key>
	<string>404438435831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sashabravos.Chatterbox</string>
	<key>PROJECT_ID</key>
	<string>chatterbox-62695</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterbox-62695.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404438435831:ios:db7f7ed6496ea806e690f2</string>
</dict>
</plist>